.contact-icons {
    font-size: 4rem !important;
    text-align: center;
}

.contact-icons a {
    color: var(--secondary-color);
    margin: 0 10px;
    transition: color 0.3s;
    cursor: var(--cursor-image, pointer);
}

.contact-icons a:hover {
    color: var(--primary-color);
}