#contact {
    padding: 40px 0;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-links a {
    margin: 0 10px;
    color: #333; 
    font-size: 24px; 
    transition: color 0.3s ease;
  }
  
  .contact-links a:hover {
    color: #007bff; 
  }
  
  #contact .contact-icons {
    font-size: 44px; 
  }