#skillset {
    padding: 20px;
    background-color: var(--card-background-color);
}

#skillset ul {
    list-style-type: none;
}

#skillset li {
    margin: 5px 0;
}

.svg-skill {
    width: 200px; 
    height: 200px; 
  }
